<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Project SD</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Condensed:100'>
<link rel="stylesheet" href="./style2.css">
</head>
<body>
<!-- partial:index.partial.html -->
<!--


-->
<div class="split-slideshow">
  <div class="slideshow">
    <div class="slider">
      <div class="item">
        <img src="../IMG-2640.JPG" />
      </div>
      <div class="item">
        <img src="../IMG-2641.JPG" />
      </div>
      <div class="item">
        <img src="../IMG-2642.JPG" />
      </div>
      <div class="item">
        <img src="../IMG-2643.JPG" />
      </div>
      <div class="item">
        <img src="../IMG_2644.PNG" />
      </div>
      <div class="item">
        <img src="../IMG_2645.PNG" />
      </div>
      <div class="item">
        <img src="../IMG_2646.PNG" />
      </div>
      <div class="item">
        <img src="../IMG_2647.PNG" />
      </div>


      <div class="item">
        <img src="../IMG_2649.PNG" />
      </div>
      <div class="item">
        <img src="../IMG_2650.PNG" />
      </div>
      <div class="item">
        <img src="../IMG_2651.PNG" />
      </div>
      <div class="item">
        <img src="../IMG_2652.PNG" />
      </div>
      <div class="item">
        <img src="../IMG_2653.PNG" />
      </div>
      <div class="item">
        <img src="../IMG_2646.PNG" />
      </div>
      <div class="item">
        <img src="../IMG_2647.PNG" />
      </div>
    </div>
  </div>
  <div class="slideshow-text">
    <div class="item">Part 1: Car Kit/ Motors</div>
    <div class="item">Part 2</div>
    <div class="item">Part 3</div>
    <div class="item">Part 4</div>
    <div class="item">Part 5</div>
    <div class="item">Part 6</div>
    <div class="item">Part 7</div>
    <div class="item">Part 8</div>
    <div class="item">Part 10</div>
    <div class="item">Part 11</div>
    <div class="item">Part 12</div>
    <div class="item">Part 13</div>
    <div class="item">Part 14</div>
    <div class="item">Part 15</div>
    <div class="item">Step 16</div>
    <div class="item">Step 17</div>
    <div class="item">Step 18</div>
    <div class="item">Step 19</div>
    <div class="item">Step 20</div>
    <div class="item">Step 21</div>
    <div class="item">Step 22</div>
    <div class="item">Step 23</div>
    <div class="item">Step 24</div>
    <div class="item">Step 25</div>
    <div class="item">Step 26</div>
    <div class="item">Step 27</div>
    <div class="item">Step 28</div>
    <div class="item">Step 29</div>
    <div class="item">Step 30</div>
    <div class="item">Step 21</div>
    <div class="item">Step 22</div>
    <div class="item">Step 23</div>
    <div class="item">Step 24</div>
    <div class="item">Step 25</div>
    <div class="item">Step 26</div>
    <div class="item">Step 27</div>
    <div class="item">Step 28</div>
    <div class="item">Step 29</div>
    <div class="item">Step 30</div>
    <div class="item">Step 31</div>
    <div class="item">Step 32</div>
    <div class="item">Step 33</div>
    <div class="item">Step 34</div>
    <div class="item">Step 35</div>
    <div class="item">Step 36</div>
    <div class="item">Step 37</div>
    <div class="item">Step 38</div>
    <div class="item">Step 39</div>
    <div class="item">Step 40</div>
    <div class="item">Step 41</div>
    <div class="item">Step 42</div>
    <div class="item">Step 43</div>
    <div class="item">Step 44</div>
    <div class="item">Step 45</div>
    <div class="item">Step 46</div>
    <div class="item">Step 47</div>
    <div class="item">Step 48</div>
    <div class="item">Step 49</div>
    <div class="item">Step 50</div>
  </div>
</div>


<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js'></script>
<script  src="./script.js"></script>

</body>
</html>
