<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Project SD - Funding</title>

<link rel="stylesheet" href="./css/fund.css">

</head>
<body>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <%- include('../partials/navbar') %>
  <div id="invoice">
  
      <div class="toolbar hidden-print">
          <div class="text-right">
        <a href="https://www.amazon.com/hz/wishlist/ls/39WC9BPUNQLGS?ref=cm_sw_sm_r_wl_mw_QfFhCRZCSFcdS">    <button class="btn1 " href="">Fund</button> </a>
              <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
              <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
          </div>
          <hr>
      </div>
      <div class="invoice overflow-auto">
          <div style="min-width: 600px">
              <header>
                  <div class="row">
                      <div class="col">
                          <a target="_blank" href="http://18.224.6.220/">
                              <img src="./img/techimg.jpg" data-holder-rendered="true" height="250" width="400"/>
                              </a>
                      </div>
                      <div class="col company-details">
                          <h2 class="name pb-4">
                              <a target="_blank" href="http://18.224.6.220/">
                              Tech Society Club
                              </a>
                          </h2>
                          <div >500 College Terrace, Homestead, FL 33030 </div>
                          <div class="pb-4">(Wednesdays 12:00 - 12:30 PM)</div>
                          <div> <b> Advisor: Professor John Maloney </b></div>
                          <div> <b>President: Kennashka DeSilva   </b></div>
                          <div> <b>Vice President: Ramsey Inigo  </b> </div>
                          <div><b> Secretary: Sammy De La Paz   </b></div>
                          <div><b> Treasury: Zachary Fundora   </b> </div>
                          <p class="">
                            <a target="_blank" href="https://sharknet.mdc.edu/organization/techsocietyhomesteadcampus">
                            SharkNet Club Link
                            </a>
                          </p>

                      </div>
                  </div>
              </header>
              <main>
                  <div class="row contacts">
                      <div class="col invoice-to">
                          <div class="text-gray-light">Project Summary:</div>
                          <h2 class="to pb-3">Project SD</h2>
                          <div class="address"> The Tech Society Club is seeking funding for our MDC Self-Driving Car endeavor than our limited resources will permit. 
                            Funds will be used to purchase hardware components in order to create an Open-Sourced Self-Driving Car for Miami-Dade Campus.
                             The Tech Society Leaders and Members believe this request fits under Club Activities Charitable Acts because hardware and software components will be donated back to the college for future use-case.
                            Our vision and mission are central to our efforts of improving future club activies and creating innovation on campus.
                          
                          The Tech Society and IEEE club have partnered together to build the campus first IOT device, MDC Self-Driving Car. The project will serve future 
                          Computer Science Students at Miami-Dade Campus and will nuture future technology innovation on campus in Robotics and Machine Learning. </div>
                          
                      </div>
                      <div class="col invoice-details">
                          <h1 class="invoice-id">ITEMS NEEDED:</h1>
                          <a href="https://www.amazon.com/hz/wishlist/ls/39WC9BPUNQLGS?ref=cm_sw_sm_r_wl_mw_QfFhCRZCSFcdS">    <button class="btn1 " href="">Fund</button> </a>

                          <div class="date pt-3">Date: 10/28/2019</div>
                          <div class="date">Due Date: 11/6/2019</div>
                      </div>
                  </div>
                  <table border="0" cellspacing="0" cellpadding="0">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th class="text-left">DESCRIPTION</th>
                              <th class="text-right"> PRICE</th>
                              <th class="text-right">QUANTITY</th>
                              <th class="text-right">TOTAL</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="no">01</td>
                              <td class="text-left"><h3>
                                    <a target="_blank" href="https://www.amazon.com/gp/product/B06VTP8XBQ/ref=ox_sc_act_title_1?smid=AZ7YXD2PTX165&amp;psc=1">
                                    <div class="image">
                                        <!--
                                           <img> This is the img tag. We are using images from flickr but you could use images
                                           from nearly anywhere online. If you have your own Flickr or Instagram account then you can use those.
                                           Just change the 'src' below to point to your image.
                                        -->
                                        <img src="https://images-na.ssl-images-amazon.com/images/I/61NYviSiTaL._SX425_.jpg" height="100" width="100">
                                        <div class="caption">
                                        </div>
                                    </div>
                                </a>

                                    EMO 4 wheel 2 layer Robot Smart Car Chassis Kits with Speed Encoder for Arduino DIY
                                  </a>
                                  </h3>
                          
                                 Mechanical structure is simple, very easy to install
                                 4 DC gear motors, flexible turning, Chassis is stability and very easy to expand                              </td>
                              <td class="unit">$18.99</td>
                              <td class="qty">1</td>
                              <td class="total">$18.99</td>
                          </tr>
                          <tr>
                              <td class="no">02</td>
                              <td class="text-left">
                                    <a href="https://www.amazon.com/gp/product/B014KMHSW6/ref=ox_sc_act_title_1?smid=A12MRQC2NA7LMA&amp;psc=1">
                                        <div class="image">
                                            <img src="https://images-na.ssl-images-amazon.com/images/I/61WfXoPO-tL._SY355_.jpg" height="100" width="100">
                                            <div class="caption">
                                            </div>
                                        </div>
                                    </a>  
                                <h3>Qunqi L298N Motor Drive Controller Board Module Dual H Bridge DC Stepper For Arduino
                                </h3>Dual-channel H-bridge driver working mode creates higher working efficiency,L298N as main chip.Can drive one 2-phase stepper motor, one 4-phase stepper motor or two DC motors.</td>
                              <td class="unit">$6.89</td>
                              <td class="qty">1</td>
                              <td class="total">$25.88</td>
                          </tr>
                          <tr>
                              <td class="no">03</td>
                              <td class="text-left">
                                    <a href="https://www.amazon.com/gp/product/B07K13SSVS/ref=ox_sc_act_title_1?smid=A1KL49E6INLWJH&amp;psc=1">
                                        <div class="image">
                                            <img src="https://images-na.ssl-images-amazon.com/images/I/61LYx0WfEmL._SL1500_.jpg" height="100" width="100">
                                            <div class="caption">
                                            </div>
                                        </div>
                                    </a>  
                                <h3>16800mAh External Battery,2 USB Outputs Portable Charger Power Bank with Type C Input</h3>Two USB charging output ports, one micro USB input port(5V.2.6A),one USB type-c input port(5V,2.6A).Output 5V,2.6A for each output ports.But total maximum output is 3.5A when two devices connected simultaneously.</td>
                              <td class="unit">$18.99</td>
                              <td class="qty">1</td>
                              <td class="total">$44.87</td>
                          </tr>
                          <tr>
                              <td class="no">04</td>
                              <td class="text-left">
                                    <a href="https://www.amazon.com/gp/product/B01CMC50S0/ref=ox_sc_act_title_6?smid=AAU5UPIIBDRLP&amp;psc=1">
                                        <div class="image">
                                            <img src="https://images-na.ssl-images-amazon.com/images/I/81HN4z3avRL._SL1500_.jpg" height="100" width="100">
                                            <div class="caption">
                                            
                                            </div>
                                        </div>
                                    </a>  
                                <h3>Raspberry Pi 3 B+ Computer with Heatsinks</h3>Blazing Fast Quad-Core 64-bit CPU and Faster GPU opens a new realm of possibilities and applications limited only by your creativity</td>
                              <td class="unit">$49.99</td>
                              <td class="qty">1</td>
                              <td class="total">$94.86</td>
                          </tr>
                          <tr>
                              <td class="no">05</td>
                              <td class="text-left">
                                    <a href="https://www.amazon.com/gp/product/B01ER2SKFS/ref=ox_sc_act_title_2?smid=AYY3UP8OL9FV8&amp;psc=1">
                                        <div class="image">
                                            <img src="https://images-na.ssl-images-amazon.com/images/I/51kEQoHGudL._AC_SX569_.jpg" height="100" width="100">
                                            <div class="caption">
                                    
                                            </div>
                                        </div>
                                    </a>  
                                <h3>Raspberry Pi Camera Module V2-8 Megapixel,1080p
                                </h3>Sony Exmor IMX219 Sensor Capable of 4K30, 1080P60, 720P180, 8MP Still</td>
                              <td class="unit">$26.99</td>
                              <td class="qty">1</td>
                              <td class="total">$121.85</td>
                          </tr>
                          <tr>
                              <td class="no">06</td>
                              <td class="text-left">
                                    <a href="https://www.amazon.com/gp/product/B07BQN1MNN/ref=ox_sc_act_title_5?smid=A2NBN5PD2G7LDZ&amp;psc=1">
                                        <div class="image">
                                            <img src="https://images-na.ssl-images-amazon.com/images/I/71kho3sJZaL._SL1500_.jpg" height="100" width="100">
                                            <div class="caption">
                                              
                                            </div>
                                        </div>
                                    </a>  
                                <h3>Raspberry Pi 4b Case, Raspberry Pi 4 Case with Fan Raspberry Pi Heatsink Raspberry Pi Fan Raspberry Pi Case for Raspberry 4 Model B/Pi 4b</h3>Comes With 3 Pcs Cooling Heatsink - For CPU, LAN, RAM</td>
                              <td class="unit">$10.99</td>
                              <td class="qty">1</td>
                              <td class="total">$132.84</td>
                          </tr>
                          <tr>
                              <td class="no">07</td>
                              <td class="text-left">
                                    <a href="https://www.amazon.com/gp/product/B00I6LJ19G/ref=ox_sc_act_title_1?smid=AM0JQO74J587C&amp;psc=1">
                                        <div class="image">
                                            <img src="https://images-na.ssl-images-amazon.com/images/I/31AqExjos3L._AC_SX425_.jpg" height="100" width="100">
                                            <div class="caption">
                                          
                                            </div>
                                        </div>
                                    </a>
                                <h3>Flex Cable for Raspberry Pi Camera or Display - 300mm / 12"</h3>Dimensions: 50mm x 16mm (2" x 0.6")</td>
                              <td class="unit">$7.71</td>
                              <td class="qty">1</td>
                              <td class="total">$140.55</td>
                          </tr>
                          <tr>
                              <td class="no">08</td>
                              <td class="text-left">
                                    <a href="https://www.amazon.com/gp/product/B01EWOE0UU/ref=ox_sc_act_title_4?smid=A2WWHQ25ENKVJ1&amp;psc=1">
                                        <div class="image">
                                            <img src="https://topcomphardware.com/comp/top-0-18507-0-0.jpg"  height="100" width="100">
                                            <div class="caption">
                                            </div>
                                        </div>
                                    </a>  
                                <h3>UNO R3 Board ATmega328P ATMEGA16U2 with USB Cable Compatible with Arduino IDE Projects, RoHS Compliant</h3>Clear prints on the female header connector, more precise and easier to use the wire.</td>
                              <td class="unit">$11.86</td>
                              <td class="qty">1</td>
                              <td class="total">$152.41</td>
                          </tr>
                          <tr>
                              <td class="no">09</td>
                              <td class="text-left">
                                    <a href="https://www.amazon.com/gp/product/B0143RTB1E/ref=ox_sc_act_title_3?smid=ATVPDKIKX0DER&amp;psc=1">
                                        <div class="image">
                                            <img src="https://images-na.ssl-images-amazon.com/images/I/61N-XCvFlSL._SX466_.jpg" height="100" width="100">
                                            <div class="caption">
                                            </div>
                                        </div>
                                    </a>  
                                <h3>SanDisk Ultra 16GB Class 10 SDHC UHS-I Memory Card up to 80MB/s (SDSDUNC-016G-GN6IN)</h3>Exceptional video recording performance with Class 10 rating for Full HD video (1080p)</td>
                              <td class="unit">$5.99</td>
                              <td class="qty">1</td>
                              <td class="total">$158.40</td>
                          </tr>
                          <tr>
                              <td class="no">10</td>
                              <td class="text-left">
                                    <a href="https://www.amazon.com/gp/product/B07F58F17D/ref=ox_sc_act_title_1?smid=ATCVC199CHVK0&amp;psc=1">
                                        <div class="image">
                                            <img src="https://images-na.ssl-images-amazon.com/images/I/812fMnPPc3L._SX425_.jpg" height="100" width="100">
                                            <div class="caption">
                                            </div>
                                        </div>
                                    </a>  
                                <h3>Alligator Clip to USB Male Test Wire Adapter Red Black Wire Alligator Clip Test Cable 60cm (Pack of 2)</h3>Crocodile Test Clip to USB Adapter</td>
                              <td class="unit">$6.99</td>
                              <td class="qty">1</td>
                              <td class="total">$165.39</td>
                          </tr>
                          <tr>
                              <td class="no">11</td>
                              <td class="text-left">
                                    <a href="https://www.amazon.com/gp/product/B01LONQ7R6/ref=ox_sc_act_title_1?smid=ATVPDKIKX0DER&amp;psc=1">
                                        <div class="image">
                                            <img src="https://m.media-amazon.com/images/S/aplus-media/sota/d64081a4-1ee3-459e-80b1-595afb5c648b._SR300,300_.jpg" height="100" width="100">
                                            <div class="caption">
                                            </div>
                                        </div>
                                    </a>  
                                <h3>AmazonBasics USB Type-C to Micro-B 2.0 Short Charger Cable - 6 Inches (15.2 Centimeters) - Black</h3>Offers reliable connectivity for easy charging or syncing of a tablet, smartphone, digital camera, or legacy USB peripheral device with Micro USB</td>
                              <td class="unit">$18.93</td>
                              <td class="qty">3</td>
                              <td class="total">$184.32</td>
                          </tr>

                          <tr>
                            <td class="no">12</td>
                            <td class="text-left">
                                <a href="https://www.amazon.com/Residue-Free-Mount-Photo-Mounting-Outdoor-Mounting-Art-Mounting-Glass/dp/B07WS48F8L/ref=sr_1_34?keywords=Double+sided+tape&amp;qid=1573232408&amp;sr=8-34">
                                    <div class="image">
                                        <img src="https://images-na.ssl-images-amazon.com/images/I/81g8XfQbmSL._AC_SX679_.jpg" height="100" width="100">
                                        <div class="caption">
                                            <h3>Double Sided Tape Acrylic Waterproof</h3> 
                                        </div>
                                    </div>
                                </a>                                      
                                    
                              Weather-resistant double sided mounting tape that holds items securely and rigidly both indoor and outdoor.</td>
                            <td class="unit">$7.50</td>
                            <td class="qty">1</td>
                            <td class="total">$191.82</td>
                        </tr>
                        <tr>
                            <td class="no">13</td>
                            <td class="text-left">
                                <a href="https://www.amazon.com/dp/B0778G64QZ/ref=sspa_dk_detail_3?psc=1&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFDTFo5VjEwRVZOWjImZW5jcnlwdGVkSWQ9QTEwMTY4NzkyWlA0VEFUWjQzRTBSJmVuY3J5cHRlZEFkSWQ9QTAxMjk3MjQzMFdBVldNU0hJVDNUJndpZGdldE5hbWU9c3BfZGV0YWlsMiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                                    <div class="image">
                                        <img src="https://images-na.ssl-images-amazon.com/images/I/81HwE4lFEBL._AC_SX679_.jpg" height="100" width="100">
                                        <div class="caption">
                                            <h3> Mini Solder-able Breadboard Gold Plated Finish Proto Board PCB for Arduino Electronic DIY (Pack of 5PCS) GK1009</h3>
                                        </div>
                                    </div>
                                </a>
                            <td class="unit">$9.58</td>
                            <td class="qty">1</td>
                            <td class="total">$201.40</td>
                        </tr>
                        <tr>
                            <td class="no">14</td>
                            <td class="text-left">
                                  <a href="https://www.amazon.com/Saim-Celsius-Aluminum-Electrolytic-Capacitors/dp/B00JFOQUBU">
                                      <div class="image">
                                          <img src="https://images-na.ssl-images-amazon.com/images/I/411N30nDIqL._SX342_.jpg" height="100" width="100">
                                          <div class="caption">
                                          </div>
                                      </div>
                                  </a>  
                              <h3>Saim 1000uF 25V 105 Celsius Aluminum Electrolytic Radial Lead Type Premium Capacitors 5Pcs</h3></td>
                            <td class="unit">$5.93</td>
                            <td class="qty">1</td>
                            <td class="total">$207.33</td>
                        </tr>
                        <tr>
                            <td class="no">15</td>
                            <td class="text-left">
                                <a href="https://www.amazon.com/Glarks-Connector-Assortment-Stackable-Breakaway/dp/B07CWSXY7P/ref=sr_1_2?keywords=male+and+female+headers&amp;qid=1573234329&amp;sr=8-2">
                                    <div class="image">
                                        <img src="https://images-na.ssl-images-amazon.com/images/I/719BPqGZ%2BxL._AC_SX425_.jpg" height="100" width="100" >
                                        <div class="caption">
                                            <h3>Glarks 112Pcs 2.54mm Male and Female Pin Header Connector Assortment Kit</h3>
                                        </div>
                                    </div>
                                </a>  
                            <td class="unit">$12.99</td>
                            <td class="qty">1</td>
                            <td class="total">$220.32</td>
                        </tr>
                        
                      </tbody>
                      <tfoot>
                          <tr>
                              <td colspan="2"></td>
                              <td colspan="2">SUBTOTAL</td>
                              <td>$220.32</td>
                          </tr>
                          <tr>
                              <td colspan="2"></td>
                              <td colspan="2">TAX 7%</td>
                              <td>$15.42</td>
                          </tr>
                          <tr>
                              <td colspan="2"></td>
                              <td colspan="2">GRAND TOTAL</td>
                              <td>$235.74</td>
                              
                          </tr>
                          
                      </tfoot>
                      
                  </table>
                  <div class="float-right"> <a href="https://www.amazon.com/hz/wishlist/ls/39WC9BPUNQLGS?ref=cm_sw_sm_r_wl_mw_QfFhCRZCSFcdS">    <button class="btn1 " href="">Fund</button> </a>

                  </div>
                  <div class="thanks ">Thank you!</div>

                  <div class="notices">
                      <div>NOTICE:</div>
                      <div class="notice"> Hardware and software components will be donated back to the college.</div>
                  </div>
              </main>

          </div>
          <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
          <div></div>
      </div>
  </div>
<script  src="./js/fund.js"></script>

</body>
</html>
